

<div class="image-layout">
  <h1>Proyectos</h1><!-- Primera imagen con pie de página -->
  <div class="image-item1">
    <img src="../../../../assets/imgProyectsPinda.png" alt="Descripción 1">
  <!--  <div class="icon-item">
      <img src="../../../../assets/imgIcoPinda.png" alt="">
      <p class="caption">Pinda Diseño</p>
    </div>/>-->
  </div>

  <!-- Segunda imagen con pie de página -->


  <div class="image-item2">
    <img src="../../../../assets/imgProyectsVinculum.png" alt="Descripción 2">
    <!--<div class="icon-item">
      <img src="../../../../assets/imgIconVinculum.png" alt="Vinculum">
      <p class="caption">Vinculum Academia de preparación</p>
    </div>-->
  </div>


  <!-- Imagen centrada con pie de página -->
  <div class="image-item3">
    <img src="../../../../assets/imgProyectsJS.png" alt="Descripción 3" id="toDoList">
   <!-- <div class="icon-item">
      <img src="../../../../assets/pngegg.png" alt="">
      <p class="caption">Pie de foto 3</p>
    </div>->
  </div>-->

</div>


<a routerLink="/">Volver al Home</a>
