
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.image-layout{
  position: relative;
  height: 100vh; /* Ocupa toda la altura de la ventana */
}











.image-layout {
 /* Dos columnas para las imágenes superiores */
  /* Filas automáticas */
  gap: 10px; /* Espacio entre elementos */
  /* Centra el contenido en cada celda */
 /* Alinea verticalmente los elementos */
  margin: 20px;
}

.image-item1 img {
  width: 100%; /* Ajusta el tamaño de las imágenes */
  max-width: 400px; /* Tamaño máximo para las imágenes */

  box-shadow: 0 4px 6px rgba(28, 218, 133, 0.403); /* Sombra suave */
  position: absolute;
  bottom: 5px;
  left:40px;
  margin: 40px;
}

.image-item2 img {
  width: 100%; /* Ajusta el tamaño de las imágenes */
  max-width: 400px; /* Tamaño máximo para las imágenes */
  box-shadow: 0 4px 6px rgba(239, 145, 83, 0.948); /* Sombra suave */
  position: absolute;
  top: 40px;
  right: 40px;
}



.image-item3 img {
  width: 200%; /* Ajusta el tamaño de las imágenes */
  max-width: 500px; /* Tamaño máximo para las imágenes */

  box-shadow: 0 4px 8px rgba(225, 119, 249, 0.903); /* Sombra suave */
}

.image-item3 {

  position: absolute;
  top: calc(50% + 20px); /* Centra verticalmente teniendo en cuenta la altura del h1 */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la posición al centro */
  max-width: 100%;
  height: auto;
  /*display: flex;  Habilitar flexbox en el contenedor
  justify-content:center ; /* Centrar horizontalmente *
  align-items:center; /* Centrar verticalmente
  height: 100vh; Ajusta la altura del contenedor si quieres centrarla en toda la pantalla *
  position: relative; /* Mantiene el flujo relativo del contenedor */

}


/*.icon-item {
  display: flex; /* Alinea ícono y texto en línea
  justify-content: center; /* Centra el ícono y el texto horizontalmente
  align-items: center; /* Alinea verticalmente ícono y texto
  gap: 8px; /* Espacio entre el ícono y el texto
  margin-top: 10px; /* Separación del pie de foto respecto a la imagen principal
}

.icon-item img {
  width: 24px; /* Tamaño del ícono
  height: 24px; /* Tamaño del ícono
}

.caption {
  text-align: center;
  font-size: 14px;
  color:aliceblue;
  margin-top: 8px;
}

.image-item.centered {
  grid-column: span 2; /* Ocupa ambas columnas
  grid-row: span 2;
  text-align: center; /* Centra el contenido
}
.icon-item img{
  width: 100%; /* Ajusta el tamaño de las imágenes
  max-width: 100px; /* Tamaño máximo para las imágenes
  border-radius: 8px; /* Bordes redondeados opcionales
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave
}

p{
  color: aliceblue;

}
*/
