<section class="Motivation">
  <div class="title-container">
    <div class="title">
      <h1>Motivation</h1>
    </div>
  </div>
  <div class="text-container">



    <div class="text-box">
      <p>
        Mi objetivo es transformar mis ideas en realidad. Los desafíos me motivan, y la programación,
        con su constante evolución, me permite convertir esas ideas en soluciones prácticas y efectivas
        para alcanzar metas concretas. Cada nuevo proyecto me entusiasma y me brinda una oportunidad para
        aprender y crecer.Mi curiosidad por aprender y formarme en diversas áreas me mantiene en constante
        movimiento. Esta habilidad me permite integrar nuevos conocimientos, aplicar enfoques innovadores
        y experimentar con métodos que me generan una enorme satisfacción cuando los resultados comienzan a
        materializarse.
      </p>

    </div>



  </div>




  </section>
