
<section class="about-me">

  <div class="about-me-container">

    <div class="column-1">

      <div><h1 class="vertical-title">About Me</h1></div>
      <p>
        Soy Ailen, una apasionada por la enseñanza,
        la tecnología y el diseño.
        Desde pequeña descubrí mi amor por los desafíos
        y las ideas poco convencionales, que siempre me
        han llevado a explorar nuevos caminos.
        Mi vida profesional refleja un equilibrio entre mi
        vocación por enseñar y mi constante curiosidad por
        la programación y el diseño.
      </p>
    </div>
    <div class="column-2">
      <div class="image-background">


      <img src="../../../../assets/1x/imgAboutMe.png" alt="Imagen de Ailen" class=" img about-me-image" loading="lazy" />
    </div>
   </div>
</div>
</section>


