

<div class="objetives">

  <div class="text-container">
    <div class="text-box">
      <p>
        Mi principal objetivo profesional es incorporarme al mundo laboral en el área de programación,
        aplicando los conocimientos adquiridosy creciendo en un entorno que me permita seguir aprendiendo.
        Mi visión es aportar soluciones creativas e innovadoras, combinando mi experiencia en educación y
        diseño para enriquecer los proyectos en los que participe.
      </p>
    </div>
  </div>
</div>
<h1 class="horizontal-title">Objetives</h1>

