.image-layout {
  margin: 20px;
}

.title{
  color:rgb(167, 24, 254);
  font-family: 'title';
  font-size: 60px;
  margin-top: 80px;
  text-align: center;
}

.image-item1 img {
  width: 100%; /* Ajusta el tamaño de las imágenes*/
  max-width: 400px; /* Tamaño máximo para las imágenes*/

  box-shadow: 0 4px 6px rgba(28, 218, 133, 0.403); /* Sombra suave*/
  position: absolute;
  bottom: 5px;
  left:40px;
  margin: 40px;
}

.image-item2 img {
  width: 100%; /* Ajusta el tamaño de las imágenes*/
  max-width: 400px; /* Tamaño máximo para las imágenes */
  box-shadow: 0 4px 6px rgba(239, 145, 83, 0.948); /* Sombra suave */
  position: absolute;
  top: 40px;
  right: 40px;
}



.image-item3 img {
  width: 200%; /* Ajusta el tamaño de las imágenes */
  max-width: 500px; /* Tamaño máximo para las imágenes */

  box-shadow: 0 4px 8px rgba(225, 119, 249, 0.903); /* Sombra suave */
}

.image-item3 {

  position: absolute;
  top: calc(50% + 20px); /* Centra verticalmente teniendo en cuenta la altura del h1 */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la posición al centro */
  max-width: 100%;
  height: auto;
  /*display: flex;  Habilitar flexbox en el contenedor
  justify-content:center ; /* Centrar horizontalmente *
  align-items:center; /* Centrar verticalmente
  height: 100vh; Ajusta la altura del contenedor si quieres centrarla en toda la pantalla *
  position: relative; /* Mantiene el flujo relativo del contenedor */

}


@media (max-width: 768px) {
  .image-layout {
    grid-template-columns: 1fr; /* Cambia a una columna */
  }

  .title {
    font-size: 2rem; /* Reduce el tamaño del título en pantallas pequeñas */
    color: aliceblue;
  }
}

































