
<div class="skills-container">
 <!-- Contenedor de las columnas -->
  <div class="columns">
    <div>
    <ul class="c1">
      <li class="f1"> Mate</li>
      <li class="f2">Indesign</li>
      <li class="f3">Illustrator</li>
      <li class="f4">Javascript</li>
    </ul>
  </div>

  <div>
    <ul class="c2">
      <li class="f1"><img src="../../../../assets/6.png" alt="Progreso excelente" class="skill-progress"></li>
      <li class="f2"><img src="../../../../assets/5.png" alt="Progreso muy bueno" class="skill-progress"></li>
      <li class="f3"><img src="../../../../assets/5.png" alt="Progreso muy bueno" class="skill-progress"></li>
      <li class="f4"><img src="../../../../assets/4.png" alt="Progreso bueno" class="skill-progress"></li>
    </ul>
  </div>

<div>
    <ul class="c3">
      <li class="f1"> Photoshop </li>
      <li class="f2">C</li>
      <li class="f3">Educación y TIC</li>
      <li class="f4">Angular y  React</li>
    </ul>
</div>
<div>
    <ul class="c4">

      <li class="f1"> <img src="../../../../assets/5.png" alt="Progreso muy bueno" class="skill-progress"> </li>
      <li class="f2"> <img src="../../../../assets/3.png" alt="Progreso basico" class="skill-progress">  </li>
      <li class="f3"><img src="../../../../assets/6.png" alt="Progreso excelente" class="skill-progress"></li>
      <li class="f4"><img src="../../../../assets/2.png" alt="Progreso regular" class="skill-progress"> </li>
    </ul>
  </div>
    <h1 class="vertical-title">Skills</h1>
  </div>






